@use '../../styles/particles/global.scss' as *; 
@use '../../styles/particles/fonts.scss' as *;

.enter {
    height: 80vh;
    padding: 2rem;
    min-height: 100vh;
    @include tablet {
        height: 80vh;
        min-height: initial
    }

    &__signup {
        @include header;
        text-align: center;
        margin-bottom: 1rem;
    }
    

    &__label {
        font-weight: 600;
        @include subheader;
        margin-bottom: 0.5rem;
    }

    &__form {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    &__form-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__input {
        height: 2rem;
        padding: 0 0.5rem;
        outline: none;
        @include body;
        border: none;
        color: black;
        transition: 0.2s;
        background-color: #e5e5e5;
        border-radius: 4px
    }

    &__description {
        @include body;
    }

    &__input:focus {
        background-color: white;
        box-shadow: 0 0 5px white;
        border-radius: 4px;
    }

    &__input:hover {
        background-color: white;
    }

    &__button {
        border: none;
        height: 2rem;
        padding: 0 1rem;
        @include link;
        color: #323232;
        background-color: #e5e5e5;
        transition: 0.2s;
        width: 100%;
        border-radius: 4px;
    }

    &__button:hover {
        @include link-hover;
        color: black;
        background-color: white;
        border-radius: 4px;
    }

    &__dev-info {
        margin-bottom: 1rem;
        @include body;
        padding: 0 0.7rem;
        display: flex;
        align-items: center
    }

    &__login {
        @include link;
        text-decoration: underline;
        transition: 0.2s;
        padding-left: 0.5rem;
    }

    &__login:hover {
        @include link-hover;
    }

    &__buttons {
        display: flex;
        gap: 0 1rem;
    }

    &__primary {
        width: 70%;
        background-color: $main;
    }

    &__primary:hover {
        background-color: $mainhover;
    }

    &__secondary {
        width: 30%;
    }
}