@use '../../styles/particles/global.scss' as *; 
@use '../../styles/particles/fonts.scss' as *;

.gymdetails {
    position: relative;
    background-color: hsla(0, 0%, 25%, 1);

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        filter: grayscale(30%);
        border-radius: 7px;
    }

    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #e5e5e5;
        margin-bottom: 1rem;
        background-color: hsla(0, 0%, 30%, 1);
        border-radius: 7px;
    }

    &__logo {
        position: relative;
        z-index: 3;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        

    }

    &__logo-div {
        padding-top: 2rem;
        position: relative;
        z-index: 2;
        background-color: hsla(0, 0, 0%, 0.5);
        width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    &__heading {
        position: relative;
        z-index: 2;
        padding: 1rem 2rem;
        color: white;
        @include header;
        background-color: hsla(0, 0%, 0%, 0.5);
        width: 100%;
    }

    &__address {
        color: white;
        position: relative;
        z-index: 2;
        background-color: hsla(0, 0%, 0%, 0.5);
        width: 100%;
        padding-bottom: 0.5rem;
        @include body;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    &__coach {
        @include subheader;
        margin-bottom: 0.5rem
    }

    &__bio {
        @include body;
    }

    &__schedule-open {
        margin: 1rem 0;
        padding: 0 1rem;
        height: 2rem;
        @include link;
        background-color: hsla(0, 0%, 10%, 1);
        border: none;
        border-radius: 4px;
        transition: 0.2s;
    }

    &__schedule-open:hover {
        @include link-hover;
        background-color: black;
    }

    &__schedule-icon {
        @include link
    }

    &__schedule--inactive {
        position: relative;
        border-radius: 4px;
    }

    &__schedule--active {
        width: 100%;
        margin-bottom: 1rem;

    }

    &__schedule-div--inactive {
        width: 100%;
        height: 100%;
        display: none
    }

    &__schedule-div--active {
        
        display: block;
    }

    &__schedule-div:hover {
        opacity:1;
    }

    &__main {
        margin-bottom: 2rem;
        padding: 0 2rem;

    }
    
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem 2rem;
    }

    &__website {
        height: 2rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        @include link;
        transition: 0.2s;
    }

    &__weblink {
        color: #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    &__website:hover {
        @include link-hover;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 1rem;
    }
}