@use '../../styles/particles/global.scss' as *; 
@use '../../styles/particles/fonts.scss' as *;

.gyms {
    

    &__label {
        font-size: 2.2rem;
        font-weight: 600;
        @include header;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    &__h2 {
        @include body;
        margin-bottom: 0.5rem;
    }

    &__container {
        border-radius: 4px;
        margin-bottom: 2rem;
        cursor: pointer;
        transition: 0.2s;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        border: 1px solid transparent;
        width: 302px;
    }

    &__container:hover {
        box-shadow: 0 0 10px $mainhover;
        border: 1px solid $mainhover;
    }

    &__container:hover &__address, &__container:hover &__name {
        color: white;
    }

    &__logo {
        width: 300px;
        background-color: hsla(0, 0%, 10%, 1);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin-bottom: -3.5px;
    }

    &__header {
        padding: 1rem 1rem 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        border-bottom: 2px solid white;
        background-color: $secondary;     
        gap: 0 0.5rem;
    }

    &__name {
        @include gym-name;
        margin-bottom: 1rem;
        color: #e5e5e5;
        border-radius: 4px;
    }

    &__address {
        color: #e5e5e5;
        @include body;
    }

    &__form {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    &__search-div {
        display: flex;
        flex-grow: 2;
    }

    &__profile {
        height: 2rem;
        background-color: white;
        border-radius: 50%;
        padding: 0.2rem;
        transition: 0.2s;
        cursor: pointer;
    }

    &__profile:hover {
        box-shadow: 0 0 10px white;
    }

    &__search-bar {
        height: 2rem;
        padding: 0 0.5rem;
        outline: none;
        @include body;
        border: none;
        color: black;
        transition: 0.2s;
        background-color: #e5e5e5;
        width: 80%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &__search-bar:hover{
        background-color: white;
    }

    &__search-button {
        border: none;
        padding: 0 1rem;
        background-color: $main;
        border-left: 2px solid black;
        font-size: 1.2rem;
        cursor: pointer;
        width: 20%;
        transition: 0.2s;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__search-button:hover {
        background-color: $mainhover
    }

    &__description {
        @include body;
    }

    &__zip {
        @include zip;
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        min-height: 100vh;
    }

    &__err-message {
        @include body;
        text-align: center;
        position: relative;
        top: 6rem;
    }

    &__results {
        padding: 1rem 1rem 0 1rem;
    }

    &__bottom {
        padding: 1rem;
        background-color: hsla(0, 0, 30%, 1);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__array {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}