* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


$secondary: #101820;
$mainhover: #f6be00;
$main: #EDB007;

@mixin tablet {
    @media (min-width: 401px) {
        @content;
    }
}
