
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
    min-height: 100vh;
    background-color: #323232;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    width: 100vw;
}