
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
    background-color: #323232;
    padding: 2rem;
    width: 400px;
    margin: 2rem auto;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    position: relative;
}